page-register {

	ion-content {
		background: color($colors, primary)!important;

		img {
			width: 256px;
			height: 256px;
			
			margin: -15px auto 5px auto;
			display: block;
		}

		h1 {
			color: #333;
			font-size: 2em;
			margin: -25px 0px 3px 5px;
		}

		.input-wrapper {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: flex-end;

			height: 55px;
			border-radius: 5px 5px 0px 0px;
			background-color: #FFF;
			
			font-size: 1.5em;
			text-align: right;
			font-weight: bolder;

			.label {
				color: #333;
				padding: 5px 5px 5px 0px;
			}

			input {
				color: #666;
				text-align: right;

				border: none;
				display: block;
			}
		}

		button {
			margin: 0!important;
			min-height: 50px;
			border-radius: 0px 0px 5px 5px!important;
			background-color: color($colors, secondary)!important;
		}
	}
}
